.body-wrapper{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}

.header{
    width: 1030px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.header a{
    text-decoration: none;
    color: #FFFFFF;
}

.header__logo-big{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
}

.header__logo-small{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.header__logo{
    background-image: url("../images/logo 3.png");
    background-repeat: no-repeat;
    padding-left: 61px;
    position: relative;
}

.header__logo:hover{
    color: rgba(242, 101, 34, 1);
    background-image: url("../images/logo 3 orange.png");
/*    transition: all 0.5s;
    box-shadow: 0px 0px 3px 2px rgba(242, 101, 34, 1);
    border-radius: 5px;*/
}


.header__contacts{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.header__email, .header__phone-number{
    text-decoration: none;
    color: #FFFFFF;
}

.header__email:hover, .header__phone-number:hover{
    color: rgba(242, 101, 34, 1);
}

.main__grid{
    width: 1030px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-row-gap: 37px;
    grid-column-gap: 65px;
    padding-top: 22px;
}

.main__item-link{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    overflow: hidden;
}

.main__image{
    position: relative;
    overflow: hidden;
}

.main__image img{
    display: block;
}

.main__item-link:hover .main__hidden-block{
    color: rgba(242, 101, 34, 1);
    bottom: 0;
}

.main__item-link:hover .main__text{
    color: rgba(242, 101, 34, 1);
}

.main__hidden-block{
    position: absolute;
    height: 55px;
    width: 300px;
    background-color: rgba(242, 101, 34, 1);
    bottom: -55px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    /*opacity: 0;*/
    transition: all 0.5s;
}

.main__hidden-block::after{
    content: url("../images/Vector.png");
    position: absolute;
    bottom: 10px;
    right: 14px;
}

.main__text{
    padding-top: 20px;
}

.hidden-text1{
    margin: 0;
    padding: 7px 0 12px 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.hidden-text1 span{
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    padding-top: 8px;
    color: white;
}

.hidden-text2{
    margin: 0;
    padding: 29px 37px 12px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: white;
}

.footer{
    padding: 49px 0 15px 0;
}

.footer--text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}
